@model EmployeeInfoModel
@{

    Layout = "~/Views/Shared/_BlankLayout.cshtml";
   
}

<div class="col-12" id="divstatrt">
    <div class="card mb-2">
        <div id="result">
            <table class="table table-striped" style="width:100%" id="empTable">
                <thead class="thead-dark">
                    <tr style="text-align:center;">

                        <th style='width:20%'><b>Employee Name</b></th>
                        <th style='width:20%'><b>Department</b></th>
                        <th style='width:15%'><b>Joining Date</b></th>
                        <th style='width:15%'><b>Phone Number</b></th>
                        <th style='width:15%'><b>Position</b></th>
                        <th style='width:15%'><b>Score</b></th>
                    </tr>
                </thead>
                @* @foreach (var item in Model.employeeList)
                {
                    <tbody style="text-align:center;">

                        <tr>
                            <td>@item.name</td>
                            <td>@item.departmentName</td>
                            <td>@item?.joiningDate?.ToString("dd-MMM-yyyy")</td>
                            <td>@item.phoneNumber</td>
                            <td>@item.position</td>
                            <td>@item.score</td>


                        </tr>

                    </tbody>

                } *@
            </table>

        </div>
       
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#empTable').DataTable({
                
            });
        })

        

    </script>
}