 @model RangeMetrosViewModel
@{
    ViewData["Title"] = "Employee Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card" style="width: 100%; margin-top: 30px; display: none" id="employeeCreate">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h5>Range Metros Information</h5>

            </div>
            <div class="col-4">
                <button type="button" class="btn btn-secondary" style="float: right" onclick="btnCreate()">View List</button>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <form class="user" asp-area="MasterData" asp-controller="MasterData" asp-action="RangeMetros" method="post" id="employeeForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input name="Id" id="Id" hidden />
                <div class="row">
                     
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Name English<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" id="rangeMetroName" name="rangeMetroName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Name Bangla<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <input type="text" id="rangeMetroNameBn" name="rangeMetroNameBn" class="form-control" />
                            </div>
                        </div>
                    </div>
                     
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Active In-Active<span style="color: red">*</span></label>
                            <div class="col-md-8">
                                <select id="IsActive" name="IsActive" class="form-control">
                                    <option value="True">Active</option>
                                    <option value="False">In-Active</option>
                                </select>
                            </div>

                            
                             
                        </div>
                    </div>

                </div>
                <div style="height:20px;"></div>
                <div class="form-group row">

                    <div class="col-sm-12 mb-3">
                        <button type="submit" id="btnCheck" class="btn btn-secondary" style="float: right">Submit</button>
                        @* <button type="button" id="btnCheck" class="btn btn-secondary" style="float: right" onclick="SaveData()">Submit</button> *@
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="card" style="width: 100%; margin-top: 30px;" id="employeeList">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h5>Range Metros List</h5>

            </div>
            <div class="col-4">
                <button type="button" class="btn btn-secondary" style="float: right" onclick="btnList()">Create New</button>

            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover table-bordered" id="InfoTbl1" style="overflow: scroll;">
            <thead class="custom-thead">
                <tr>
                    <th>Sl Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @if (Model.Ranges.Count() != 0)
                {
                    @foreach (var item in Model.Ranges)
                    {
                        <tr>
                            <td>@i</td>

                            <td>@item.rangeMetroName</td>
                            <td>
                                @if (@item.isActive == true)
                                {
                                    @:Active
                                }
                                else if (@item.isActive == false)
                                {
                                    @:InActive
                                }
                            </td>
                            <td class="icon-container">
                                <i class="fa fa-edit" onclick="edit(@item.Id, '@item.rangeMetroName', '@item.rangeMetroNameBn','@item.isActive')"></i>
                                <i class="fa fa-window-close" style="color: red;" onclick="Delete(@item.Id)" title="Is Active"></i>
                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">No data available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @* <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> *@
    <script type="text/javascript">

           function Delete(Id) {
             swal({
                 title: 'Are you sure?',
                 text: 'Do you want to delete this data?',
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Yes, delete it!'
             }).then(function (res) {
                 if (res) {
                     $.ajax({
                        url: "/MasterData/MasterData/InActiveRangeMetros",
                         type: "POST",
                         data: { id: Id },
                         success: function (res) {
                             if (res == '1') {
                                 swal('', 'Deleted Successfully!', 'success');
                                 location.reload(true);
                             }
                             else {
                                 swal('', 'Invalid Attempt!', 'warning');
                             }
                         }
                     });
                 }
             }, function (dismiss) {
                 if (dismiss === 'cancel' || dismiss === 'close') {
                     return false;
                 }
             });
         }



        function edit(Id, rangeMetroName, rangeMetroNameBn, isActive) {
             $('#Id').val(Id);
            $('#rangeMetroNameBn').val(rangeMetroNameBn);
            $('#rangeMetroName').val(rangeMetroName);
            $('#IsActive').val(isActive);
            $('#employeeCreate').show();
             $('#employeeList').hide();

         }

         function resetForm() {
             $('#employeeForm')[0].reset();

         }
         function btnList() {
             $('#employeeCreate').show();
             $('#employeeList').hide();

         }
         function btnCreate() {
             $('#employeeCreate').hide();
             $('#employeeList').show();

         }

          

    </script>
}
